<%- include("partials/header") %>
<%- include("partials/navbar") %>

<div class="container mt-5">
    <div class="shadow-lg p-5 mb-5 bg-body rounded">
        <h1 class="mb-5"> Selamat Datang di E-Ticket Movies</h1>
        <form method="post" action="/login">
        <div class="mb-3">
            <label for="title" class="form-label">Email</label>
            <input type="text" class="form-control" id="title" name="email">
        </div>
        <div class="mb-3">
            <label for="number" class="form-label">Password</label>
            <input type="password" class="form-control" id="number" name="password">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Silahkan Masuk</button>
        </form>
    </div>
</div>